<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My First Bitstarter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet"
          href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-2.3.2.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" 
          rel="stylesheet" type="text/css">
    <style type="text/css">
    
      /* Large Desktop */
      @media (min-width: 980px) {
        body {
          padding-top: 60px;
        }
        .linediv-l {
          border-right: 1px white solid;
        }
        .linediv-r {
          border-left: 1px white solid;
        }
      }
      
      /* Landscape phones and down */
      @media (max-width: 480px) {
        .copy {
          padding: 2.5% 10%;
        }
        .linediv-l {
          border-bottom: 1px white solid;
        }
        .linediv-r {
          border-top: 1px white solid;
        }
      }
      
      
      /* All form factors */
      
      /*Main body and headings */
      body {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      }
      .heading, .subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        text-align: center;
      }
      p.lead {
        padding-top: 1.5%;
        font-size: 24px;
        line-heigth: 30px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
      }
      
      /* Video pitch and Action */
      .pitch {
        padding: 2.5% 0%;
      }
      .order {
        padding: 2% 0%;
      }
      .actions {
        background-color: #343434;
        padding: 3% 0%;
      }
      .video, .thermometer, .order, .social, .statistics {
        text-align: center;
      }
      .statistics h3, .statistics p {
        color: white;
      }
      
      /* Marketing Copy and Footer */
      .copy {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: justify;
      }
      .asset {
        padding: 2.5% 0%;
      }
      .footer {
        color: #cccccc;
        text-align: center;
      }
      .footer p {
        font-size: 11px;
      }
      .footer a {
        color: #ccccff;
      }
      
      div.addthis_toolbox {
        width:180px;
        margin: 0 auto;
      }
    </style>
    
    <!-- Universal tracking for Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42996403-1', 'herokuapp.com');
      ga('send', 'pageview');
    </script>
    
    <!-- Google Analytics asynchronous tracking -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42996403-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
  </head>
  <body>
  
    <!-- Mobile-friendly navbar -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Bitstarter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="active"><a href="#">Orders</a></li>
            </ul>
          </div> <!-- .nav-collapse -->
        </div>
      </div>
    </div> <!-- navbar -->
    
    <div class="container">
      <h2>Coinbase orders</h2>
      <table class="table table-striped">
        <thead>
          <th>Coinbase ID</th>
          <th>BTC Amount</th>
          <th>Date</th>
        </thead>
        <tbody>
          <% for (var i=0; i<3; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= i*2 %></td>
              <td><%= i/2. %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/refresh_orders">Refresh orders from coinbase</a>
    
    
      <!-- Footer -->
      <div class="row-fluid footer">
        <div class="span12">
         <p>This work is licensed under the 
         <a href="http://creativecommons.org/licences/by-sa/3.0/">CC By-SA 3.0</a>
         , without all the cruft that would otherwise be put at the bottom 
         of the page.</p>
        </div>
       </div> <!-- Footer -->
      
    </div> <!-- Container -->
  </body>
</html>